*{
    margin: 0;
    padding: 0;
}
body{

}
#container{
    margin: 0 auto;
    padding: 5px;
    width: 70%;
    background-color: gainsboro;

}

.article-div{
    margin: 14px 10px;
    border: solid 4px cornsilk;
    border-radius: 8px;
}

.info-btn{
    display: flex;
    border: none;
    text-decoration: underline;
    background-color: gainsboro;
}

.body-text{
    display: inline-flex;
}

.user-info{
    display: inline-flex;
}